*{
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: white;
    padding: 0 10px;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 80px 10px -6px;
    background-color: #ECF2FF;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06); 
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    }

header{
    font-size: 30px;
    color: rgb(3, 0, 0);
    float: left;
    padding-left: 2cm;
    font-weight: bolder;

 }
 figure{
    float: left;
    justify-self: auto;
    width: 200px;
    
  }
  img{
    width: 200px;
  }
  figcaption{
    color: black;
     font-size: 16px;
     text-align: center;
  }
ul li{
    margin: 10px;
    display: inline-flex;
    
 }

 h1{
    text-align: center;
    font-size: 30px;
    line-height: 64px;
    text-decoration: underline;
    font-weight: 500;
 } 
div p{
   
    line-height: 30px;
}
p{
    text-align: center;
}
 p a{
    color: red;
    
}
p a:hover{
    background-color: red;
    color: white;
}

  button{
    font-size: 20px;
    border: transparent;
    border-radius: 40px;
    background-color: lightgreen;
    width: fit-content;
    padding-right: 15px;
    padding-left: 15px;
  }
  button:hover{
    cursor: pointer;
    background-color: black;
    color: white;

  }
  button:active{
    background-color: aqua;
    color: black;
  }
#section_1{
    background-color: rgb(241, 241, 241);
    border-radius: 10px;
}


/* table styling */

.ctable{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    margin: auto;
    width: 100%;
    border: 1px solid white;

}
.ctable thead tr{
    background-color: #E1EEDD;
    color: #060047;
    text-align: left;
    font-weight: bold;
}
.ctable th,td{
    padding: 12px 15px;
}
.ctable tbody tr {
    border-bottom: 1px solid #332C39;
}



/* form styling */

fieldset{
    margin: 2em 0;
    padding: 1em 2em;
    border: solid 1ps #e4dbe9;
    border-radius: 6px;
    min-width: 200px;
    background-color: #AEE2FF;
}
legend{
    font-size: 1.25em;
    padding: 0.25em;
    color: #a80c0c;
}
#form{
    background-color: #ECF9FF;
}
  .input-group {
    margin: 10px 0px 10px 0px;
  }
  .input-group label {
    display: block;
    text-align: left;
    margin: 3px;
  }
  .input-group input {
    height: 30px;
    width: 80%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
  }

  .btn {
    padding: 10px;
    font-size: 15px;
    color: white;
    background: #F50324;
    border: none;
    border-radius: 5px;
  }
  .btn:hover{
    background-color: black;
  }
.quote{
    background-color: #F0EEED;
    padding: 20px;
    border-radius: 8px;
    
}
@media screen and (max-width: 500px){
    legend{
        font-size: 1.7em;
    }
    fieldset{
        width: 100%;
        margin: auto;
    }
}

nav{
    flex: 1;
    text-align: right;
    padding-left: 4px;
}
.navbar a {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  a.{
padding: 0;
  }